<form [ngFormModel]="form" (ngSubmit)="onSubmit()">
    
    <section class="form-inline">
        
        
        <fieldset class="form-group col-xs-4">
            <label class="sr-only" for="firstName">Name</label>
           <input type="text" class="form-control" required ngControl="name" placeholder="Name">
            <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
                    Name is required
            </div>               
         </fieldset>
         <!--[(ngModel)]="name"-->
         
         
         <fieldset class="form-group col-xs-4">
            <label class="sr-only" for="hours">Hours</label>            
             <input type="text" class="form-control" required ngControl="hour" placeholder="Hours">
            <div [hidden]="hour.valid || hour.pristine" class="alert alert-danger">
                Hours is required
            </div> 
         </fieldset>
         
          <!--[(ngModel)]="hours"-->
         <fieldset class="form-group col-xs-4">
            <label class="sr-only" for="notes">Notes</label>
            <input type="text" class="form-control" required ngControl="notes" placeholder="Notes">
            <div [hidden]="notes.valid || notes.pristine" class="alert alert-danger">
                Notes is required
            </div>                         
         </fieldset>    
         <!--[(ngModel)]="newMember.LastName"  #lastName="ngForm"   -->
    </section>
    
    <button type="submit" [disabled]="!form.valid" class="btn btn-default">Submit</button>
</form>